DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=tu_password_de_mysql
DB_NAME=actividad_3_udea
TABLE_NAME=personas_luciano

TOTAL_RECORDS=100000
BATCH_SIZE=5000
FAKER_LOCALE=es_CO
RESET_TABLE=true